body {
    padding: 0;
    margin: 0;
}

header {
    border: 3px solid rgb(0, 141, 0);
    background-image: url("../images/dog.JPG");
    color: white;
    font-size: 44px;
    min-height: 350px;
}

h1 {
    text-align: center;
}

div.outdiv {
    border: 5px solid rgb(182, 43, 43);
}

div:hover {
    background-color: yellow;
}

:focus {
    background-color: rgba(210, 210, 210,1);
}

.test {
    text-transform: uppercase;
}

div div {
    border: 5px solid black;
    width: 20%;
    margin: 10px;
    padding: 20px;
    display: inline-block;
}

div div:hover {
    background-color: rgb(219, 69, 69);
}

div div:nth-child(1) {
    width: 80%;
    margin: auto;
    display: block;
}

div div:nth-child(odd) {
    border: 5px dashed black;
}

li {
    width: 200px;
    background-color: #ADD8E6;
    display: inline-block;
}

ul {
    list-style-type: none;
}

ul li:nth-child(3n) {
    background-color: white;
    color: white;
}